.header {
    margin-top:2%;
}

.contact_head h1{
    text-align: center;
    margin:1% 0;
    color:#17252A;
    font-size: 2vw;
}

.contact_links {
    width:350px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.contact_icon {
    width: 40px;
    margin-right: 6%;
}

.contact_f {
    display: flex;
    align-items: center;
    position: relative;
    top:25%;
    padding: 0 5%;
    flex-direction: row;
}

.contact_f {
    text-align: left;
}

.table-fill {
    width: 60%;
    display: block;
}

.table-hover {
    max-height: 50vw;
}

/* .contact_iframes {
    display: flex;
    justify-content: space-evenly;
    margin-top:2%;
}
 */

 .contact_wrap {
     display:flex;
     justify-content: space-evenly;
     margin-top:3%;
 }
