.header {
    margin-top:2%;
}

.contact_head h1{
    text-align: center;
    margin:1% 0;
    color:#17252A;
    font-size: 2vw;
}

.contact_links {
    width: 50vw;
    margin: 0 auto;
}

.contact_icon {
    width: 40px;
    margin-right: 3%;
}

.contact_f {
    display: flex;
    justify-content: center;
    align-items: center;
}

<<<<<<< HEAD
.table-fill {
    width: 65vw;
}

.table-hover {
    max-height: 50vw;
}

=======
.table-fill{
    display: block;
}
>>>>>>> c0eda6fc0e5da5cd89b862ac3562c5329a7d979e
